<%#views/principal/circularsMenu.ejs%>
<% extend('../layout') %>

<div class="list-group">
  <a href="/principal/circulars/upload" class="list-group-item list-group-item-action">Upload New Circular</a>
  <a href="/principal/circulars/view-previous" class="list-group-item list-group-item-action">View Previous Circulars</a>
  <a href="/principal" class="list-group-item list-group-item-action">Go Back</a>
</div>
