<%#views/principal/circularsUpload.ejs%>
<% extend('../layout') %>

  <div class="form-group">
  <form ref='uploadForm' id='uploadForm' action='/principal/circulars/upload'
        method='POST' encType="multipart/form-data" class="circular">
          <input type="file" name="sampleFile" class="upload"/>
        </br>
        </br>
        <label>Grade : </label>
          <input type="number" name="grade" value="Grade" required="true"/>
        </br>
        </br>
        <div class="input-group-append">
          <input type='submit' value='Upload' class="input-group-text"/>
        </div>
      </form>

      <div class="input-group-append">
        <a  class="input-group-text" href="/principal/circulars">Go Back</a>
      </div>
      </div>
