<%#views/principal/principal.ejs%>
<% extend('../layout') %>
<ul class="list-group">
  <li class="list-group-item"><a href="/principal/circulars">Circulars</a></li>
  <li class="list-group-item"><a href="/principal/leaveApps">Leave Applications</a></li>
  <li class="list-group-item"><a href="/principal/schemes">Scheme</a></li>
  <li class="list-group-item"><a href="#">Time Table</a></li>
  <li class="list-group-item"><a href="#">Exam Time Table</a></li>
</ul>
