<%#views/teacher.ejs%>
<% extend('layout') %>
<ul class="list-group">
  <li class="list-group-item"><a href="/principal/circulars">Circulars</a></li>
  <li class="list-group-item"><a href="/principal/applyLeave">Apply For a Leave</a></li>
  <li class="list-group-item"><a href="/principal/schemes">Scheme</a></li>
  <li class="list-group-item"><a href="/principal/timeTable">Time Table</a></li>
  <li class="list-group-item"><a href="/principal/examTimeTable">Exam Time Table</a></li>
</ul>
