body{
  font-size: 15px;
  line-height: 1.5;
  padding: 0px;
  background-color: #E0FFFF;
}
header{
  background: #35424a;
  color:#ffffff;
  min-height: 70px;
  border-bottom: #ffffff 20px solid;
}
#branding{
  font-size: 25px;
  text-align: center;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
header a:hover{
  color: #FFD700;
}
header li{
  text-align: center;
  display: inline;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 100px;
}
.highlight{
  font-size: 50px;
  color: #FF4500;
}
.midpan{
  margin: auto;
  width: 70%;
  padding: 10px;
}
.container{
  background-color: #35424a;
}
.upload{
  border-color: #000000;
}
.circular{
  padding-left: 300px;
}
@import "bourbon";


.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
a{
  text-decoration: none;
}
