<%#views/teacher/leaveMenu.ejs%>
<% extend('../layout') %>
<div class="list-group">
  <%for(var i=0;i<data.length;i++){%>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Leave Date : <%=data[i].dateOfCommencingLeave%></li>
      <li class="list-group-item">Approval : <%=data[i].approved%></li>
    </ul>
    <div class="input-group-append">
      <a href="#" class="btn1 input-group-text delete" id="<%=data[i]._id%>">Delete</a>
      </div>
  <%}%>
  <div class="input-group-append">
    <a class="btn1 input-group-text" href="/teacher/applyLeave">Apply New Leave</a>
    <a href="/teacher" class="btn1 input-group-text">Go Back</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.delete').on('click',function(){
      $.ajax({
        type:'DELETE',
        url:'/teacher/leaveApp/delete/'+this.id,
        success:function(){
          location.reload();
        }
      });
    });
  });
</script>
