<%#views/teacher/schemes-upload.ejs%>
<% extend('../layout') %>


  <form ref='uploadForm' id='uploadForm' action='/teacher/schemes/upload'
        method='POST' encType="multipart/form-data">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="sampleFile" id="inputGroupFile02">
        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
      </div>
      </div>

      <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Year</span>
      </div>
      <input type="text" name="year" class="form-control" placeholder="Year" aria-label="Username" aria-describedby="basic-addon1"/>
      </div>

      <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Grade</span>
      </div>
      <input type="text" name="grade" class="form-control" placeholder="Grade" aria-label="Username" aria-describedby="basic-addon1"/>
       </div>

      <div class="input-group mb-3">
      <div class="input-group-append">
        <input type="submit" class="input-group-text"/>
        <li class="input-group-text"><a href="/teacher/schemes">Go Back</a></li>
      </div>
    </div>
  </form>
