<%#views/teacher/teacher.ejs%>
<% extend('../layout') %>
<ul class="list-group">
  <li class="list-group-item"><a href="/teacher/circulars">Circulars</a></li>
  <li class="list-group-item"><a href="/teacher/applyLeave">Apply For a Leave</a></li>
  <li class="list-group-item"><a href="/teacher/schemes">Scheme</a></li>
  <li class="list-group-item"><a href="#">Time Table</a></li>
  <li class="list-group-item"><a href="#">Exam Time Table</a></li>
</ul>
